In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('listings.csv')

In [9]:
print(df)

             id                                              name    host_id  \
0          3647               THE VILLAGE OF HARLEM....NEW YORK !       4632
1          3831                   Cozy Entire Floor of Brownstone       4869
2          5022  Entire Apt: Spacious Studio/Loft by central park       7192
3          5099         Large Cozy 1 BR Apartment In Midtown East       7322
4          5121                                   BlissArtsSpace!       7356
...         ...                                               ...        ...
48372  38564068                                 Top Floor Delight  207204450
48373  38564524                             Central Park Elegance    1567562
48374  38566777                              Quiet room available  159902221
48375  38567542              Spacious room in Brooklyn brownstone   68905617
48376  38568081         Petrose home by JFK, Beach &St John Hosp.  293596932

         host_name neighbourhood_group       neighbourhood  latitude  \
0        Elisabeth           Manhattan              Harlem  40.80902
1      LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2            Laura           Manhattan         East Harlem  40.79851
3            Chris           Manhattan         Murray Hill  40.74767
4            Garon            Brooklyn  Bedford-Stuyvesant  40.68688
...            ...                 ...                 ...       ...
48372          Ade            Brooklyn       Cypress Hills  40.67618
48373       Maggie           Manhattan     Upper East Side  40.77326
48374        Nancy            Brooklyn            Bushwick  40.69907
48375         Eric            Brooklyn       Crown Heights  40.66986
48376      Ebangha              Queens        Far Rockaway  40.60315

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.94190     Private room    150               3                  0
1      -73.95976  Entire home/apt     89               1                279
2      -73.94399  Entire home/apt     80              10                  9
3      -73.97500  Entire home/apt    200               3                 75
4      -73.95596     Private room     60              45                 49
...          ...              ...    ...             ...                ...
48372  -73.90764  Entire home/apt    199               2                  0
48373  -73.96650  Entire home/apt    175              30                  0
48374  -73.93043     Private room     35              30                  0
48375  -73.93772     Private room     79               1                  0
48376  -73.75722     Private room     45               3                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0             NaN           1.385109                               1
1      2019-08-29           4.620000                               1
2      2018-11-19           0.100000                               1
3      2019-07-21           0.590000                               1
4      2017-10-05           0.390000                               1
...           ...                ...                             ...
48372         NaN           1.385109                               4
48373         NaN           1.385109                               1
48374         NaN           1.385109                               1
48375         NaN           1.385109                              10
48376         NaN           1.385109                               1

       availability_365
0                   365
1                   192
2                     0
3                    13
4                     0
...                 ...
48372                42
48373               263
48374                66
48375               322
48376               173

[48377 rows x 16 columns]

In [8]:
print(df.head())

     id                                              name  host_id  \
0  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
1  3831                   Cozy Entire Floor of Brownstone     4869
2  5022  Entire Apt: Spacious Studio/Loft by central park     7192
3  5099         Large Cozy 1 BR Apartment In Midtown East     7322
4  5121                                   BlissArtsSpace!     7356

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0    Elisabeth           Manhattan              Harlem  40.80902  -73.94190
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Laura           Manhattan         East Harlem  40.79851  -73.94399
3        Chris           Manhattan         Murray Hill  40.74767  -73.97500
4        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    150               3                  0         NaN
1  Entire home/apt     89               1                279  2019-08-29
2  Entire home/apt     80              10                  9  2018-11-19
3  Entire home/apt    200               3                 75  2019-07-21
4     Private room     60              45                 49  2017-10-05

   reviews_per_month  calculated_host_listings_count  availability_365
0           1.385109                               1               365
1           4.620000                               1               192
2           0.100000                               1                 0
3           0.590000                               1                13
4           0.390000                               1                 0

In [3]:
print(df.isnull().sum())

id                                   0
name                                17
host_id                              0
host_name                           22
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       9651
reviews_per_month                 9651
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [4]:
df.fillna(df.mean(), inplace=True)

C:\Users\Russel\AppData\Local\Temp\ipykernel_5000\820435583.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [5]:
print(df.duplicated().sum())

0

In [6]:
df.drop_duplicates(inplace=True)
print(df)

             id                                              name    host_id  \
0          3647               THE VILLAGE OF HARLEM....NEW YORK !       4632
1          3831                   Cozy Entire Floor of Brownstone       4869
2          5022  Entire Apt: Spacious Studio/Loft by central park       7192
3          5099         Large Cozy 1 BR Apartment In Midtown East       7322
4          5121                                   BlissArtsSpace!       7356
...         ...                                               ...        ...
48372  38564068                                 Top Floor Delight  207204450
48373  38564524                             Central Park Elegance    1567562
48374  38566777                              Quiet room available  159902221
48375  38567542              Spacious room in Brooklyn brownstone   68905617
48376  38568081         Petrose home by JFK, Beach &St John Hosp.  293596932

         host_name neighbourhood_group       neighbourhood  latitude  \
0        Elisabeth           Manhattan              Harlem  40.80902
1      LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2            Laura           Manhattan         East Harlem  40.79851
3            Chris           Manhattan         Murray Hill  40.74767
4            Garon            Brooklyn  Bedford-Stuyvesant  40.68688
...            ...                 ...                 ...       ...
48372          Ade            Brooklyn       Cypress Hills  40.67618
48373       Maggie           Manhattan     Upper East Side  40.77326
48374        Nancy            Brooklyn            Bushwick  40.69907
48375         Eric            Brooklyn       Crown Heights  40.66986
48376      Ebangha              Queens        Far Rockaway  40.60315

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.94190     Private room    150               3                  0
1      -73.95976  Entire home/apt     89               1                279
2      -73.94399  Entire home/apt     80              10                  9
3      -73.97500  Entire home/apt    200               3                 75
4      -73.95596     Private room     60              45                 49
...          ...              ...    ...             ...                ...
48372  -73.90764  Entire home/apt    199               2                  0
48373  -73.96650  Entire home/apt    175              30                  0
48374  -73.93043     Private room     35              30                  0
48375  -73.93772     Private room     79               1                  0
48376  -73.75722     Private room     45               3                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0             NaN           1.385109                               1
1      2019-08-29           4.620000                               1
2      2018-11-19           0.100000                               1
3      2019-07-21           0.590000                               1
4      2017-10-05           0.390000                               1
...           ...                ...                             ...
48372         NaN           1.385109                               4
48373         NaN           1.385109                               1
48374         NaN           1.385109                               1
48375         NaN           1.385109                              10
48376         NaN           1.385109                               1

       availability_365
0                   365
1                   192
2                     0
3                    13
4                     0
...                 ...
48372                42
48373               263
48374                66
48375               322
48376               173

[48377 rows x 16 columns]

In [7]:
print(df.head())

     id                                              name  host_id  \
0  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
1  3831                   Cozy Entire Floor of Brownstone     4869
2  5022  Entire Apt: Spacious Studio/Loft by central park     7192
3  5099         Large Cozy 1 BR Apartment In Midtown East     7322
4  5121                                   BlissArtsSpace!     7356

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0    Elisabeth           Manhattan              Harlem  40.80902  -73.94190
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Laura           Manhattan         East Harlem  40.79851  -73.94399
3        Chris           Manhattan         Murray Hill  40.74767  -73.97500
4        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    150               3                  0         NaN
1  Entire home/apt     89               1                279  2019-08-29
2  Entire home/apt     80              10                  9  2018-11-19
3  Entire home/apt    200               3                 75  2019-07-21
4     Private room     60              45                 49  2017-10-05

   reviews_per_month  calculated_host_listings_count  availability_365
0           1.385109                               1               365
1           4.620000                               1               192
2           0.100000                               1                 0
3           0.590000                               1                13
4           0.390000                               1                 0